/* Field */
.guest-field {
  background: #fff;
  border-radius: 9px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  width: 220px;
}

/* Backdrop */
// .guest-backdrop {
//   position: fixed;
//   inset: 0;
//   z-index: 99;
// }

/* Card positioning */
.guest-card-wrapper {
    position: absolute;
    right: 20%;
    top: 9em;
    z-index: 2;
}

.guest-card {
  width: 360px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  padding: 16px;
}

/* Rows */
.guest-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.guest-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.guest-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
}

/* Calendar panel */
.airbnb-calendar {
  border-radius: 24px;
  padding: 1rem;
}

/* Bigger date cells */
.airbnb-calendar .p-datepicker td span {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* Selected range style */
.airbnb-calendar .p-highlight {
  background: #000 !important;
  color: #fff !important;
}
.airbnb-calendar {
position: absolute !important; 
    left: 27%;
    height: 82px;
    width: 24%;
    z-index: -1;
}
