/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    padding: 0;
    margin: 0;
}
p{
    font-weight: 300;
}
a{
  text-decoration: none;
  color: inherit;
}
.app-container-fluid {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1380px;
  }
}
.app-container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}


.review-card {
    .avtar-wrapper {
        .avtar-img {
            margin-right: 1rem;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border-radius: 50%;
            background-color: #000;
            color: #fff;
            text-align: center;
        }

    }
    .review-text{
        font-size: 14px;
        color: #525252;
        font-weight: 300;
        margin-top: 6px;
    }
}

.review-list {
    li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
    }

    .review-bar {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .p-progressbar {
        height: 6px;
        background-color: rgba(82, 82, 82, 0.06);
        min-width: 220px;
        border-radius: 5px;
    }

    .review-item-category {
        min-width: 120px;
    }
}
/* Remove bottom border only for the LAST accordion tab */
.p-accordion{
    border: 1px solid #E8E8E8;
    padding: 20px;
    display: block;
    border-radius: 20px;
}
.p-accordionpanel {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-accordionpanel:last-child {
  border-bottom: none;

}

// .intro  .p-tablist-tab-list{
//     flex-direction: column !important;
// }

form.header-fromgroup{
    border: 1px solid #d6dee7;
    border-radius: 50px;
    padding: 0px;
}
.header-fromgroup .p-inputtext{
  border: 0;
    border-right: 1px solid #d6dee7;
    border-radius: 0;
    margin: 2px;
    background: transparent;
    box-shadow: none;
}
.header-fromgroup .p-button{
  border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.host-menu{
  .p-menu{
    // min-width: 15rem;
  }
  .p-menu-item-content {
    padding: 10px 0;
}
// .p-motion{
//   top: 85px !important
// }
}
.heart-btn{
  .p-button-icon.pi{
    font-size: 1.5rem;
  }
}

.hotel-banner {
    background-image: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 71%)), url('./assets/images/breadcrumb-bg6.jpg');
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 250px;
}
.surface-card h3{
  color: #06465b;
}
/* Common styles */
.bg-primary { background: var(--p-primary-500); }
.grid-top { margin-top: -1rem;}
